
 #download{
    height: 120vh;
    width: 100%;
    background-color: #424242;
    position: relative;
    z-index: 1;
 }
.row_img{
    display: flex;
    flex-direction: row;
   
}
.img1{

    width: 420px;
    padding-left: 50px;
    
}
.img2{
    width: 450px;
    /* background-color:brown; */
}

.img1 img{
    width: 100% ;
    margin-top: 300px;
}
.img2 img{
    width: 100% ;
    margin-top: 170px;
    z-index: 60;

}


.img3 img{
    width: 100;
    max-width: 280px;
   transform: rotate(-35deg) ;
   position: absolute;
   margin-top: 80px;
   left: 800px;
   z-index: -1;
}
